<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="box_link">
    <link name="link1">
      <visual>
        <origin xyz="0 0 1" rpy="0 0 0"/>
        <geometry>
          <box size="0.1 0.1 2"/>
        </geometry>
      </visual>
    </link>
  </xacro:macro>
</robot>
